[Unit]
Description=EagleEye service

[Service]
User=root
ExecStart=/home/learner/Desktop/artificial_rescuer/process.sh

[Install]
WantedBy=multi-user.target